In [1]:
# 1.获取数据
# 2.合并表
# 3.找到user_id和aisle之间的关系
# 4.PCA降维

In [2]:
import pandas as pd

In [3]:
# 1.获取数据
order_products_prior = pd.read_csv("./ins/op.csv")
products = pd.read_csv("./ins/p.csv")
orders = pd.read_csv("./ins/o.csv")
aisles = pd.read_csv("./ins/a.csv")

In [4]:
# 2.合并aisles和products表  让它们id在一起
tab1 = pd.merge(aisles, products, on=["aisle_id", "aisle_id"])

In [5]:
tab2 = pd.merge(tab1,order_products_prior,on=["product_id","product_id"])

In [8]:
tab3 = pd.merge(tab2,orders,on=["order_id","order_id"])

In [9]:
tab3.head()

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0,114082,prior,26,0,20,1.0
1,1,prepared soups salads,22853,Pesto Pasta Salad,20,94246,4,0,114082,prior,26,0,20,1.0
2,4,instant foods,12087,Chicken Flavor Ramen Noodle Soup,9,94246,15,0,114082,prior,26,0,20,1.0
3,4,instant foods,47570,Original Flavor Macaroni & Cheese Dinner,9,94246,14,1,114082,prior,26,0,20,1.0
4,13,prepared meals,10089,Dolmas,20,94246,25,0,114082,prior,26,0,20,1.0

In [10]:
# 3.找到user_id和aisle之间的关系
table = pd.crosstab(tab3["user_id"],tab3["aisle"])

In [11]:
# 4.PCA降维
from sklearn.decomposition import PCA

In [12]:
# 1.实例化一个转换器类
transfer = PCA(n_components=0.95)
# 2.调用fit_transform
table_new = transfer.fit_transform(table)

In [13]:
table_new.shape

(206209, 44)

In [14]:
# 预估器流程
from sklearn.cluster import KMeans

In [15]:
estimator = KMeans(n_clusters=3)
estimator.fit(table_new)

KMeans(n_clusters=3)

In [17]:
y_predict = estimator.predict(table_new)

In [18]:
y_predict[:300]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 2, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1,
       0, 1, 2, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 2, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0])

In [19]:
# 模型评估-轮廓系数
from sklearn.metrics import silhouette_score

In [20]:
silhouette_score(table_new, y_predict)

0.5367085966840449