In [11]:
import pandas as pd

In [12]:
# 1.获取数据集
titanic = pd.read_csv("./ins/titanic.txt")

In [13]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [14]:
# 筛选特征值和目标值
x = titanic[["pclass", "age", "sex"]]
y = titanic["survived"]

In [15]:
# 2.数据处理
# 1）缺失值处理
x["age"].fillna(x["age"].mean(), inplace = True)

J:\Anaconda\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [16]:
# 2）转换成字典
x = x.to_dict(orient="records")

In [17]:
from sklearn.model_selection import train_test_split
# 3.数据集划分
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=6)

In [18]:
# 4.字典特征抽取
from sklearn.feature_extraction import DictVectorizer
transfer = DictVectorizer()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

In [19]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import graphviz
# 5.决策树预估器
estimator = DecisionTreeClassifier(criterion="entropy", max_depth=8)
estimator.fit(x_train, y_train)

# 6.模型评估
# 方法一：直接比对真实值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值：\n", y_test == y_predict)

# 方法二：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)

# 7.可视化决策树
dot_data = export_graphviz(estimator, out_file=None, feature_names=transfer.get_feature_names())
graph = graphviz.Source(dot_data)
graph.render("titanic_tree可视化")

y_predict:
 [0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 1
 0 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0
 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0
 0 0 1 0 0 1 1 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 1 1 0 1 0 0 0 1 1 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0
 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0 1 1 0 1 1 0 0 0 0 0]
直接比对真实值和预测值：
 975      True
459      True
1251    False
14       True
805      True
        ...
1289    False
706      True
1138     True
307      True
1183     True
Name: survived, Length: 329, dtype: bool
准确率为：
 0.8419452887537994

'titanic_tree可视化.pdf'

In [20]:
###随机森林对泰坦尼克号乘客的生存进行预测

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [22]:
estimator = RandomForestClassifier()

In [23]:
# 加入网格搜索和交叉验证
# 参数准备
param_dict = {"n_estimators": [120, 200, 300, 500, 800, 1200], "max_depth":[5, 8, 15, 25, 30]}
estimator = GridSearchCV(estimator, param_grid=param_dict, cv=5)
estimator.fit(x_train,y_train)

# 5.模型评估
# 方法一：直接比对真实值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值：\n", y_test == y_predict)

# 方法二：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)

# 最佳参数：best_params
print("最佳参数：\n", estimator.best_params_)
# 最佳结果：best_score
print("最佳结果：\n", estimator.best_score_)
# 最佳估计器：best_estimator
print("最佳估计器：\n", estimator.best_estimator_)
# 交叉验证结果：cv_results
print("交叉验证结果：\n", estimator.cv_results_)

y_predict:
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 1
 0 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0
 0 0 1 1 0 0 0 0 1 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0
 0 0 1 0 0 1 1 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 1 1 0 1 0 0 0 1 1 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0
 0 0 1 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0 1 1 0 1 1 0 0 0 0 0]
直接比对真实值和预测值：
 975      True
459      True
1251    False
14       True
805      True
        ...
1289    False
706      True
1138     True
307      True
1183     True
Name: survived, Length: 329, dtype: bool
准确率为：
 0.8449848024316109
最佳参数：
 {'max_depth': 5, 'n_estimators': 500}
最佳结果：
 0.8242359888117683
最佳估计器：
 RandomForestClassifier(max_depth=5, n_estimators=500)
交叉验证结果：
 {'mean_fit_time': array([0.12398586, 0.19309268, 0.28763785, 0.47728109, 0.76535101,
       1.14705458, 0.13746767, 0.22182374, 0.34388099, 0.56258745,
       0.91270714, 1.37844424, 0.14997272, 0.24369354, 0.37512131,
       0.62194362, 0.99407458, 1.48154645, 0.1468483 , 0.24390545,
       0.3688664 , 0.61257076, 1.0022069 , 1.48467531, 0.15621719,
       0.24701567, 0.37200975, 0.60944428, 0.9845715 , 1.50028753]), 'std_fit_time': array([4.39805987e-03, 9.36176882e-03, 7.91807402e-03, 6.94047193e-03,
       6.03227844e-03, 7.30900430e-03, 6.24861719e-03, 6.24880799e-03,
       4.27324759e-04, 4.58737406e-04, 1.22808608e-02, 1.15036985e-02,
       7.64310369e-03, 7.65411077e-03, 9.88087928e-03, 6.36992050e-03,
       1.29529843e-02, 1.15806573e-02, 7.64337497e-03, 7.84702975e-03,
       7.81995377e-03, 6.15579090e-03, 1.26622645e-02, 9.53740765e-03,
       1.59027873e-05, 5.82586425e-03, 6.37274950e-03, 1.71232321e-02,
       9.55783100e-03, 2.80744931e-02]), 'mean_score_time': array([0.00598407, 0.01216693, 0.01874914, 0.04799552, 0.05312815,
       0.0780858 , 0.00937285, 0.01270819, 0.0156261 , 0.03749514,
       0.0593709 , 0.07811255, 0.0093648 , 0.01583495, 0.01874237,
       0.03436213, 0.05935607, 0.10310092, 0.00624108, 0.01250038,
       0.02499762, 0.0374918 , 0.05935936, 0.09060373, 0.        ,
       0.01562834, 0.02498598, 0.04062181, 0.05936346, 0.08436141]), 'std_score_time': array([4.92655457e-03, 6.11517713e-03, 6.24733339e-03, 3.07557128e-02,
       6.88851812e-03, 1.74672162e-05, 7.65290345e-03, 6.36730272e-03,
       7.35875768e-06, 7.65298999e-03, 6.25308791e-03, 1.29093478e-05,
       7.64633707e-03, 4.26101951e-04, 6.25000679e-03, 6.25072146e-03,
       6.26142954e-03, 2.72365548e-02, 7.64374351e-03, 6.25020385e-03,
       7.65545455e-03, 7.65356532e-03, 6.24826058e-03, 6.24842648e-03,
       0.00000000e+00, 1.35416716e-05, 7.65499083e-03, 7.65740707e-03,
       6.24995394e-03, 7.64726684e-03]), 'param_max_depth': masked_array(data=[5, 5, 5, 5, 5, 5, 8, 8, 8, 8, 8, 8, 15, 15, 15, 15, 15,
                   15, 25, 25, 25, 25, 25, 25, 30, 30, 30, 30, 30, 30],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[120, 200, 300, 500, 800, 1200, 120, 200, 300, 500, 800,
                   1200, 120, 200, 300, 500, 800, 1200, 120, 200, 300,
                   500, 800, 1200, 120, 200, 300, 500, 800, 1200],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 5, 'n_estimators': 120}, {'max_depth': 5, 'n_estimators': 200}, {'max_depth': 5, 'n_estimators': 300}, {'max_depth': 5, 'n_estimators': 500}, {'max_depth': 5, 'n_estimators': 800}, {'max_depth': 5, 'n_estimators': 1200}, {'max_depth': 8, 'n_estimators': 120}, {'max_depth': 8, 'n_estimators': 200}, {'max_depth': 8, 'n_estimators': 300}, {'max_depth': 8, 'n_estimators': 500}, {'max_depth': 8, 'n_estimators': 800}, {'max_depth': 8, 'n_estimators': 1200}, {'max_depth': 15, 'n_estimators': 120}, {'max_depth': 15, 'n_estimators': 200}, {'max_depth': 15, 'n_estimators': 300}, {'max_depth': 15, 'n_estimators': 500}, {'max_depth': 15, 'n_estimators': 800}, {'max_depth': 15, 'n_estimators': 1200}, {'max_depth': 25, 'n_estimators': 120}, {'max_depth': 25, 'n_estimators': 200}, {'max_depth': 25, 'n_estimators': 300}, {'max_depth': 25, 'n_estimators': 500}, {'max_depth': 25, 'n_estimators': 800}, {'max_depth': 25, 'n_estimators': 1200}, {'max_depth': 30, 'n_estimators': 120}, {'max_depth': 30, 'n_estimators': 200}, {'max_depth': 30, 'n_estimators': 300}, {'max_depth': 30, 'n_estimators': 500}, {'max_depth': 30, 'n_estimators': 800}, {'max_depth': 30, 'n_estimators': 1200}], 'split0_test_score': array([0.80203046, 0.8071066 , 0.80203046, 0.8071066 , 0.8071066 ,
       0.8071066 , 0.78172589, 0.79187817, 0.78680203, 0.79187817,
       0.78680203, 0.78680203, 0.77664975, 0.78680203, 0.78172589,
       0.78680203, 0.78172589, 0.77664975, 0.78680203, 0.78172589,
       0.78680203, 0.78172589, 0.78172589, 0.78172589, 0.77664975,
       0.78680203, 0.78680203, 0.78172589, 0.78680203, 0.78172589]), 'split1_test_score': array([0.80203046, 0.80203046, 0.80203046, 0.80203046, 0.80203046,
       0.80203046, 0.78680203, 0.79187817, 0.78680203, 0.78680203,
       0.78680203, 0.78680203, 0.78680203, 0.78172589, 0.78680203,
       0.78680203, 0.78680203, 0.78680203, 0.78172589, 0.78680203,
       0.78680203, 0.78680203, 0.78680203, 0.78680203, 0.78680203,
       0.78680203, 0.78680203, 0.78680203, 0.78680203, 0.78680203]), 'split2_test_score': array([0.83756345, 0.83756345, 0.84263959, 0.83756345, 0.83756345,
       0.83248731, 0.81218274, 0.81218274, 0.81218274, 0.81218274,
       0.81218274, 0.81218274, 0.80203046, 0.80203046, 0.80203046,
       0.80203046, 0.8071066 , 0.8071066 , 0.8071066 , 0.80203046,
       0.8071066 , 0.8071066 , 0.8071066 , 0.8071066 , 0.80203046,
       0.80203046, 0.8071066 , 0.8071066 , 0.80203046, 0.8071066 ]), 'split3_test_score': array([0.79187817, 0.80203046, 0.79695431, 0.80203046, 0.79695431,
       0.80203046, 0.80203046, 0.80203046, 0.8071066 , 0.80203046,
       0.80203046, 0.80203046, 0.80203046, 0.80203046, 0.80203046,
       0.8071066 , 0.80203046, 0.80203046, 0.78680203, 0.80203046,
       0.79695431, 0.80203046, 0.80203046, 0.80203046, 0.79187817,
       0.80203046, 0.8071066 , 0.8071066 , 0.79695431, 0.79695431]), 'split4_test_score': array([0.86734694, 0.86734694, 0.86734694, 0.87244898, 0.86734694,
       0.87244898, 0.84693878, 0.84693878, 0.84693878, 0.84693878,
       0.84183673, 0.83673469, 0.82142857, 0.81632653, 0.82653061,
       0.83163265, 0.82653061, 0.83163265, 0.83673469, 0.83163265,
       0.82142857, 0.82653061, 0.82653061, 0.83163265, 0.82653061,
       0.83163265, 0.82142857, 0.82653061, 0.82653061, 0.82142857]), 'mean_test_score': array([0.8201699 , 0.82321558, 0.82220035, 0.82423599, 0.82220035,
       0.82322076, 0.80593598, 0.80898166, 0.80796644, 0.80796644,
       0.8059308 , 0.80491039, 0.79778825, 0.79778307, 0.79982389,
       0.80287475, 0.80083912, 0.8008443 , 0.79983425, 0.8008443 ,
       0.79981871, 0.80083912, 0.80083912, 0.80185953, 0.7967782 ,
       0.80185953, 0.80184917, 0.80185435, 0.79982389, 0.79880348]), 'std_test_score': array([0.02823724, 0.02573152, 0.02795349, 0.02750164, 0.02663174,
       0.0270814 , 0.02318509, 0.02041748, 0.02206003, 0.0213477 ,
       0.02037329, 0.01859996, 0.01524723, 0.01231549, 0.0156211 ,
       0.01650638, 0.01589408, 0.01882077, 0.02040647, 0.01739791,
       0.01316945, 0.01589408, 0.01589408, 0.0175846 , 0.01697929,
       0.01637042, 0.01335265, 0.01609856, 0.01459788, 0.0142824 ]), 'rank_test_score': array([ 6,  3,  4,  1,  4,  2, 10,  7,  8,  8, 11, 12, 28, 29, 24, 13, 20,
       18, 23, 18, 26, 20, 20, 14, 30, 14, 17, 16, 24, 27])}